project_id                                  = "replace-with-your-gcp-project-id"
region                                      = "us-central1"
allowed_persistence_regions                 = []
enforce_in_transit                          = false
service_account_token_creator_members       = ["user:seu-email@example.com"]
enable_technical_dead_letter                = true
main_subscription_expiration_ttl            = ""
application_dlq_subscription_expiration_ttl = "2592000s"
technical_dlq_subscription_expiration_ttl   = "2592000s"
database_instance_name                      = "poc-ledger-dev-postgres"
database_name                               = "ledger_dev"
database_user                               = "ledger_app"
database_password                           = "replace-with-a-strong-password-kept-out-of-git"
database_version                            = "POSTGRES_16"
database_tier                               = "db-f1-micro"
database_availability_type                  = "ZONAL"
database_disk_size                          = 10
database_disk_autoresize                    = false
database_deletion_protection                = false
database_backup_enabled                     = false
database_backup_start_time                  = "03:00"
database_point_in_time_recovery_enabled     = false
database_transaction_log_retention_days     = 7
database_backup_location                    = null
