project_id                                  = "replace-with-your-gcp-project-id"
region                                      = "us-central1"
allowed_persistence_regions                 = []
enforce_in_transit                          = false
service_account_token_creator_members       = ["user:seu-email@example.com"]
enable_technical_dead_letter                = true
main_subscription_expiration_ttl            = ""
application_dlq_subscription_expiration_ttl = "2592000s"
technical_dlq_subscription_expiration_ttl   = "2592000s"
cloudsql_instance_name                      = "poc-ledger-dev-postgres"
cloudsql_postgres_version                   = "POSTGRES_16"
cloudsql_tier                               = "db-f1-micro"
cloudsql_availability_type                  = "ZONAL"
cloudsql_database_name                      = "ledger_dev"
cloudsql_database_user                      = "ledger_app"
cloudsql_database_password                  = "replace-with-a-strong-password-kept-out-of-git"
cloudsql_deletion_protection                = true
cloudsql_backup_configuration = {
  enabled                        = true
  start_time                     = "03:00"
  point_in_time_recovery_enabled = true
  transaction_log_retention_days = 7
  location                       = null
}
